.firebase/
.firebaserc
firebase-debug.log
firebase-debug.*.log
node_modules/
functions/node_modules/
twa/node_modules/
*.aab
*.apk
*.keystore
serve.log

functions/node_modules/
serve.log
functions/emulators.log
