*{box-sizing:border-box;font-family:Arial}
body{margin:0;background:#f1f5f9}

.hero{background:#0284c7;color:#fff;text-align:center;padding:70px 20px}
.hero-quote-btn{background:#22c55e;color:#fff;padding:12px 24px;border-radius:30px;text-decoration:none}

.wrapper{padding:20px}
.container{background:#fff;padding:30px;border-radius:12px;max-width:900px;margin:auto}

input,select{
width:100%;padding:12px;margin-top:5px;
border-radius:8px;border:1px solid #ccc
}

button{
width:100%;padding:14px;margin-top:20px;
border:none;border-radius:30px;
background:#0284c7;color:#fff
}

.book-btn{background:#25D366}

#map{
height:350px;margin-top:15px;
border-radius:12px;border:1px solid #ccc
}

.progress{height:6px;background:#ddd;border-radius:6px;margin-bottom:20px}
#progressBar{height:6px;width:25%;background:#0284c7}

.form-step{display:none}
.form-step.active{display:block}
